<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [48]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [49]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [50]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [51]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [52]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [53]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [54]:
print(df.duplicated().sum())

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [55]:
# your code goes here
df=df.drop_duplicates()

Verify if duplicates were actually dropped.

In [75]:
print(df.duplicated().sum())

0

## Finding Missing values

Find the missing values for all columns.

In [78]:
print(df[df.isnull()])

       Respondent MainBranch Hobbyist OpenSourcer OpenSource Employment  \
0             NaN        NaN      NaN         NaN        NaN        NaN
1             NaN        NaN      NaN         NaN        NaN        NaN
2             NaN        NaN      NaN         NaN        NaN        NaN
3             NaN        NaN      NaN         NaN        NaN        NaN
4             NaN        NaN      NaN         NaN        NaN        NaN
...           ...        ...      ...         ...        ...        ...
11547         NaN        NaN      NaN         NaN        NaN        NaN
11548         NaN        NaN      NaN         NaN        NaN        NaN
11549         NaN        NaN      NaN         NaN        NaN        NaN
11550         NaN        NaN      NaN         NaN        NaN        NaN
11551         NaN        NaN      NaN         NaN        NaN        NaN

      Country Student EdLevel UndergradMajor  ... WelcomeChange SONewContent  \
0         NaN     NaN     NaN            NaN  ...           NaN          NaN
1         NaN     NaN     NaN            NaN  ...           NaN          NaN
2         NaN     NaN     NaN            NaN  ...           NaN          NaN
3         NaN     NaN     NaN            NaN  ...           NaN          NaN
4         NaN     NaN     NaN            NaN  ...           NaN          NaN
...       ...     ...     ...            ...  ...           ...          ...
11547     NaN     NaN     NaN            NaN  ...           NaN          NaN
11548     NaN     NaN     NaN            NaN  ...           NaN          NaN
11549     NaN     NaN     NaN            NaN  ...           NaN          NaN
11550     NaN     NaN     NaN            NaN  ...           NaN          NaN
11551     NaN     NaN     NaN            NaN  ...           NaN          NaN

      Age Gender Trans Sexuality Ethnicity Dependents SurveyLength SurveyEase
0     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
1     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
2     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
3     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
4     NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
...    ..    ...   ...       ...       ...        ...          ...        ...
11547 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11548 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11549 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11550 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN
11551 NaN    NaN   NaN       NaN       NaN        NaN          NaN        NaN

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [69]:
print("{} rows are missing in the 'WorkLoc' column.".format(df["WorkLoc"].isnull().sum()))

0 rows are missing in the 'WorkLoc' column.

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [83]:
df["WorkLoc"].value_counts()

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [60]:
maj = df["WorkLoc"].value_counts().index[0]
print(maj)

Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [66]:
df["WorkLoc"]=df["WorkLoc"].fillna(maj)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [67]:
df["WorkLoc"].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [88]:
df["CompFreq"].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [ ]:
conditions = [
    (df["CompFreq"] == "Yearly"),
     df['CompFreq'] == "Monthly"),
     df['CompFreq'] == "Weekly")
    ]

values = [df["CompTotal"],df["CompTotal"]*12,df["CompTotal"]*52]

df["NormalizedAnnualCompensation"] = np.select(conditions, values)

df.head()

Traceback (most recent call last):
  File "/lib/python3.12/site-packages/pyodide_kernel/kernel.py", line 90, in run
    code = await self.lite_transform_manager.transform_cell(code)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/lib/python3.12/site-packages/pyodide_kernel/litetransform.py", line 34, in transform_cell
    lines = await self.do_token_transforms(lines)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/lib/python3.12/site-packages/pyodide_kernel/litetransform.py", line 39, in do_token_transforms
    changed, lines = await self.do_one_token_transform(lines)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/lib/python3.12/site-packages/pyodide_kernel/litetransform.py", line 59, in do_one_token_transform
    tokens_by_line = make_tokens_by_line(lines)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/lib/python3.12/site-packages/IPython/core/inputtransformer2.py", line 535, in make_tokens_by_line
    for token in tokenutil.generate_tokens_catch_errors(
  File "/lib/python3.12/site-packages/IPython/utils/tokenutil.py", line 40, in generate_tokens_catch_errors
    for token in tokenize.generate_tokens(readline):
  File "/lib/python312.zip/tokenize.py", line 541, in _generate_tokens_from_c_tokenizer
    raise e from None
  File "/lib/python312.zip/tokenize.py", line 537, in _generate_tokens_from_c_tokenizer
    for info in it:
  File "<string>", line 5
    ]
     ^
IndentationError: unindent does not match any outer indentation level

If you suspect this is an IPython 8.23.0 bug, please report it at:
    https://github.com/ipython/ipython/issues
or send an email to the mailing list at ipython-dev@python.org

You can print a more detailed traceback right now with "%tb", or use "%debug"
to interactively debug it.

Extra-detailed tracebacks for bug-reporting purposes can be enabled via:
    %config Application.verbose_crash=True

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>